
@font-face {
    font-family:azonix;
    src: url(Azonix-1VB0.otf);
 }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
a,button{
    cursor: pointer;
}
@keyframes wave {
    100% {
        background-position: 15% 50% }
}
body{
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("blue.svg");
    background-repeat: no-repeat;
    background-size: cover;
    animation: wave 5s infinite alternate linear;
}
@media (width >= 500px) {
    body{
        padding: 0;
    }
}
.login-form {
    width: 100%;
    padding: 280px 80px 84px;
    border-radius: 24px;
    background: #ffff;
    text-align: center;
}
@media (width >= 500px ) {
    .login-form {
        margin: 0;
        width: 400px;
    }
}
.login-form h2{
position: relative;
top: -220px;
font-size: 2rem;
font-family: azonix;
}
.login-card{
    position: relative;
    top: -180px;
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}
.login-card a { 
    
    color:#216ce7;
    font-size:0.6rem;
    font-family:azonix;
}
.login-card input,
.login-card button {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 20px;
    font-family: azonix;
}
.login-card{
    border: 1px solid #000000;
}
.login-card{
    width: 100%;
    height: 56px;
    border: 0;
    color: #f9f9f9;
    font-family: azonix;
}
.login-card button{
    background-color: rgb(82, 208, 208);
    font-size: 1rem;
}
.login-card button:hover{
    background-color:aqua;
}
.social a{
    position: relative;
    top: 20px;
font-size: 1.8rem;
color: black;
}